@import'utilites.css';

:root{
	
	--primary:#3DCFD3;
	--dark: #161616;
	--pure:#FFFFFF;
	--ternary:#898989;
	--light: #F2F2F2;
	
}

.logo{
	height:50px;
	
}
body{
	font-family: 'Poppins',sans-serif;
}
*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	-webkit-font-smotthing:anialiased;
}
header{
	background-color:rgb(191,148,228);
	height:120px;
	
}
.container{
	max-width:1152px;
	padding: 0 15px;
	margin: 0 150px;

}

.left div a{
	color:white;
	text-decoration: none;
	width:300px;
	padding:0 10px;
	margin-right: 20px;
	text-transform:uppercase;
	transition:all.3s ease;
	
	
	
}
.left a:hover{
	color:var(--primary);
	
}
header nav{
	padding: 2rem 0;
}
header nav .branding{
	margin-right:30px;
}
.left1 img{
height:700px;
}

.hero{
	display:flex;
	flex-direction:row;
	background-color:#ffdce2;
	clip-path:polygon(0 0,100% 0,100% 100%,70% 87%,0 100%)
	
	
}
.about{
background-color:pink;
margin:50px 100px;



}


right1{
width=200px;
display:flex;
height=100px;
color:white;
color:var(--primary);
margin-bottom=50px;
}
.right1 h2{
	font-size=20px;
	color:var(--primary);
	margin-bottom=25 px;
}
.right1 h1{
	font-size=40px;
	font-weight=100;
	line-height=1.2;
	margin-bottom:20px;
	
}
.right1 h1 span{
	color:var(--primary);
}

.right1 p{
	line-height:1.9;
	margin-bottom:20px;
	margin-top:-7px;
}
section{
	padding:16 px,0;
}


.about-me-img{
height:550px;
width:500px;
border-radius:20px;
	
}
.about1 h1{
	margin:10px;
	font-size:30px;
	font-weight:400;
}
.about1 h1 span{
	color:var(--primary);
	
}
.about1 h4{
	font-size:20px;
	margin-bottom: 15px;
	font-weight:400;
}
.about1 p{
	font-family:'Lato',sans-serif;
	color: var(--ternary);
	line-height: 1.9;
}
.cont{
    background-color: #ADD8E6;
}
.form1{

    width: 500px;
    height: 500px;
    

}
label{
    color: white;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

input[type=submit] {
  background-color: #E6E6FA;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #800080;
}

.content{
    height: 500px;
    width: 500px;
    float: left;
    background-image:url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.container2 {
  border-radius: 5px;
  background-color:#ADD8E6;
  padding: 20px;
  width: 700px;
    height: 700px;
    width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
h3{
    color:white;
    font-size:30px;
    text-align: left;
    margin-top: 120px;
    margin-left: 20px;
}
.contact{
 color: #FCA738;
 margin-top: 50px;
 font-size: 20px;
 text-align: left;
 margin-left: 20px;
}


